# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# local log files
udsoncan.log
scan.log
# user specific files
config.json
devices*
Open3Edatapoints_6*
virtdata_*
# allow device config for integration tests
!tests/integration/test_data/device_config/devices*
!tests/integration/test_data/device_config/Open3Edatapoints_6*
!tests/integration/test_data/device_config/virtdata_*
.vscode/
venv
#packaging
*.egg
__pycache__/
*.egg-info/
.venv/
dist/*
build/*
_scm_version.py
#testing
.coverage.*
.DS_Store